<section class="w3l-homeblock3" id="clients">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">Müşterilerim ve Ortaklarım </span>
                    <h3 class="title-big">
                        Müşteriler / Ortaklar ve
                        <span> İşbirlikleri</span>
                    </h3>
                    <p class="mt-4">
                        Geçtiğimiz on yıl boyunca bazı harika organizasyonlardan insanlarla çalışma ve onlar için çalışma şansına sahip oldum.
                    </p>
                    @Html.Action("PartialCustomerStatistic")
                </div>
                @Html.Action("PartialCustomerSponsor")
            </div>
        </div>
    </div>
</section>
