@model List<MyEgitimAkademi_Portfolio.Models.Award>

<section class="w3l-homeblock3" id="awards">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">Ödüllerim & Başarılarım </span>
                    <h3 class="title-big">
                        Ulaştığım mesleki ödüller <span> ve onurlar.</span>
                    </h3>
                    <p class="mt-4">
                        Başarıya Ulaşma Arzusuyla Motive Edilen O7 Yıllık Tecrübeye Sahip Olmak
                    </p>
                    <div class="reward-list mt-5">
                        @foreach (var item in Model)
                        {
                            <div class="reward-item">
                                <div class="reward-item-photo"><img src="/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid"></div>
                                <div class="reward-item-detail">
                                    <span class="reward-item-title">@item.Title</span>
                                    <p class="reward-item-descr">@item.Description</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6 align-self mt-lg-0 mt-md-5 mt-4">
                    <div class="position-relative px-lg-5 mx-lg-0 mx-md-5 image-padding">
                        <img src="/Templates/iportfolio-starter/assets/images/awards.png" alt="" class="radius-image img-fluid">
                        <div class="position-absolute-images">
                            <img src="/Templates/iportfolio-starter/assets/images/award.png" class="img-fluid pos-img" alt="" />
                            <img src="/Templates/iportfolio-starter/assets/images/award1.png" class="img-fluid pos-img1" alt="" />
                            <img src="/Templates/iportfolio-starter/assets/images/award2.png" class="img-fluid pos-img2" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
